annotated-types==0.6.0
asttokens==2.4.1
certifi==2023.11.17
cffi==1.16.0
charset-normalizer==3.3.2
colorama==0.4.6
decorator==5.1.1
docutils==0.20.1
elevenlabs==0.2.27
exceptiongroup==1.2.0
executing==2.0.1
idna==3.6
ipython==8.20.0
jedi==0.19.1
Kivy==2.3.0
kivy-deps.angle==0.4.0
kivy-deps.glew==0.3.1
kivy-deps.sdl2==0.7.0
Kivy-Garden==0.1.5
matplotlib-inline==0.1.6
numpy==1.26.3
pandas==2.1.4
parso==0.8.3
prompt-toolkit==3.0.43
pure-eval==0.2.2
pycparser==2.21
pydantic==2.5.3
pydantic_core==2.14.6
Pygments==2.17.2
PyMuPDF==1.23.15
PyMuPDFb==1.23.9
pypiwin32==223
python-dateutil==2.8.2
pytz==2023.3.post1
pywin32==306
requests==2.31.0
six==1.16.0
sounddevice==0.4.6
soundfile==0.12.1
stack-data==0.6.3
traitlets==5.14.1
typing_extensions==4.9.0
tzdata==2023.4
urllib3==2.1.0
wcwidth==0.2.13
websockets==12.0
